body{
    margin: 0;
}
header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

ul li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

section {
    display: flex;
}

.hero{
    background-color: #1F2937;
    margin: 0px;
    padding: 150px;
}

.hero-title{
    font-size: 48px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #F9FAF8;
    font-weight: extra-bold;
}

.hero-secondary{
    font-size: 18px;
    color: #E5E7EB;
}

article{
    padding-right: 30px;
}

aside {
    padding-left: 30px;
}

button {
    color: #E5E7EB;
    background-color: #3882F6;
    font-size: 18px;
    border-radius: 3px;
    border: 0;
    padding: 5px 20px;
}

.cartas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    padding: 35px;
    
}

.info {
    width: 120px;
    color: #1F2937;
    padding-left: 30px;
    padding-right: 30px;
}

.information{
    padding-top: 35px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;

}